{% extends "base.html" %}
{% block title %}URNIK - problematični vnosi{% endblock %}
{% block body %}


<script type="text/javascript">
        function tableHide(tableid){ document.getElementById(tableid).display = "none";}
        function tableShow(tableid){ document.getElementById(tableid).display = "block";}
</script>


<link href="{{STATIC_URL}}css/cycles_overview.css" type="text/css" media="all" rel="stylesheet" />

<h1>Seznam prekrivanj po vnosih na urniku</h1>
<div>

    <table class="subjects_cycles_overview">
        <tr>
            <th>Vnos</th>
            <th>Št. prekrivanj</th>
            <th>Prekrivanja skupin</th>
            <th>Prekrivanja posameznikov</th>
            <th>Zasedenost učilnice</th>
        </tr>
    {% for o in object_list|dictsortreversed:"total_overlaps" %}
        <tr class = "{{o.css_class}}">
            <td><a href={% url "busy_students" timetable_set_slug=timetable_set_slug allocation_id=o.allocation.id %}>{{o.allocation.activityRealization.activity.name}} {{o.allocation.classroom.short_name}} {{o.allocation.day}} {{o.allocation.start}}</a></td>
            <td>{{o.total_overlaps}} / {{o.students.count}}</td>
            <td>{{o.group_overlaps}}</td>
            <td>{{o.individual_overlaps}}</td>
            <td>{{o.classroom_utilization}}</td>
        </tr>
    		
    {% endfor %}

    </table>

</div>
{% endblock %}
