{% extends "base.html" %}
{% block title %}URNIK{% endblock %}
{% block body %}
<script language="JavaScript"> 
<!-- Hide the script from old browsers -- 
   
}
//--> 
</script> 
<h1>Izbira posameznih predavanj in/ali vaj</h1>

<p>
Spodaj lahko sestavite svoj lastni urnik - se pravi seznam izvajanj vaj in predavanj, ki vas zanimajo. Izbira se bo shranila na vašem računalniku v obliki piškotka. Na strežniku se ne hrani noben podatek o tem, kateri predmeti vas zanimajo.

<h1><a href="allocations?timetable={{ selected_timetable_ids|join:"&timetable="}}">Povezava na sestavljeni urnik</a></h1>
</p>
<form method="POST">
{% csrf_token %}
{% for timetable, subjects in timetables %}
<h2>{{timetable}}</h2>
<div>
  {% for subject, activities in subjects %}
  <div>
    <h2>{{subject}}</h2>
    {% for activity, realizations in activities %}
    {{activityi.name}}
    <div>
      <ul>
        {% for realization, is_selected in realizations %}
          <li><input type="checkbox" name="realization" value="{{realization.id}}" {% if is_selected %} checked="checked" {% endif %}>{{realization}}</input> </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <input type="submit" value="Nastavi" />
  </div>
  {% endfor %}
</div>
{% endfor %}
</form>

{% endblock %}
