{% extends "base.html" %}
{% block title %}Urnik - Seznam študentov{% endblock %}
{% block body %}
<h1>Seznam študentov</h1>
<span style="float: right; font-style: italic;">
    <a href="{% url 'students_list_json' timetable_slug realization_id %}">Podatki v formatu JSON</a>
</span>
<h2>{{realization.activity.name}}</h2>
<div>
    <h3>Izvajanja</h3>
    <ul>
        {% for allocation in allocations %}
            <li>{{allocation.day}} - {{allocation.start}}</li>
        {% endfor %}
    </ul>
</div>

<div>
<h3>Študenti ({{students|length}})</h3>
    <ul>
        {% for student in students %}
            <li>{{ student.surname|title }}, {{ student.name|title }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
