{% extends "exchange/exchange_main.html" %}

{% block body_under_title %}
    <div class="section-header">
        <h2 class="title">My subjects</h2>
    </div>
    <div class="section-content">
        {% for subject in subjects|dictsort:"name" %}
            <a href="{% url "subject_management" selected_timetable.slug subject.code %}">{{ subject.short_name }} - {{ subject.name }} ({{ subject.code }})</a><br>
        {% empty %}
            <span>No subjects found.</span>
        {% endfor %}
    </div>
{% endblock %}
