Django
argparse
django-auth-ldap
django-guardian
django-impersonate
django-filter
django-pyodbc
django-sqlserver==0.5
djangorestframework
ipython
psycopg2
pyodbc
python-ldap
python-memcached
six
wsgiref
django-js-reverse
django-debug-toolbar
beautifulsoup4
