Django
argparse
django-auth-ldap
django-authority
django-guardian
django-impersonate
django-filter
django-pyodbc
django-sqlserver
djangorestframework==3.6.3
django-autocomplete-light
django-js-reverse
django-debug-toolbar
django-classy-tags
ipython
ply
psycopg2
pyodbc
python-ldap
python-memcached
six
slimit
wsgiref
beautifulsoup4
