Django==1.7
argparse==1.2.1
django-auth-ldap==1.2.1
django-authority==0.8
django-autocomplete-light==2.0.0a17
django-guardian==1.2.4
django-impersonate==0.8.1
django-js-reverse==0.3.3
django-pyodbc==0.2.5
django-sqlserver==0.5
djangorestframework==2.4.2
ipython==2.2.0
ply==3.4
psycopg2==2.5.4
pyodbc==3.0.7
python-ldap==2.4.16
python-memcached==1.53
six==1.8.0
slimit==0.8.1
wsgiref==0.1.2
