Django==1.11.7
argparse
django-auth-ldap
ldap
ldap3
pyldap
django-authority
django-guardian
django-impersonate
django-filter
django-pyodbc
django-sqlserver
djangorestframework==3.6.3
django-autocomplete-light
django-js-reverse
django-debug-toolbar
django-classy-tags
ipython
ply
psycopg2-binary
pyodbc
python-memcached
six
slimit
beautifulsoup4
