
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

{% load i18n %}
{% load timetable_extras %}
{% load cookielaw_tags %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% value_from_settings STATIC_URL %}css/cgp.css">
    <link rel="stylesheet" type="text/css" href="{% value_from_settings STATIC_URL %}css/main.css">
    <link rel="stylesheet" type="text/css" href="{% value_from_settings STATIC_URL %}css/cookielaw.css">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}/images/icon.png"/>
    <script type="text/javascript" src="{% value_from_settings STATIC_URL %}/js/cookielaw.js"></script>
{% block media %}{% endblock %}
</head>


<body>
{% cookielaw_banner %}
<div id="container">
  {% include "navigation.html" %}
  <div id="body">
    <div class="wrap">
      {% block body %}{% endblock %}
    </div>
  </div>

  <footer id="footer">
    <div class="wrap">
      <div class="region region-footer">
        Urnik FRI
      </div>
    </div>
  </footer>  
</div>  <!-- Container -->
</body>
</html>
